@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #edf1f1; }

.large-btn {
  width: 110px;
  padding: 10px;
  border: 1px solid #4CAA90;
  border-radius: 5px;
  cursor: pointer; }

.transp-bkgrnd {
  background-color: transparent;
  color: #4CAA90; }

.grn-bkgrnd {
  background-color: #4CAA90;
  color: #fff; }

nav {
  background-color: #4CAA90;
  width: 100%;
  text-transform: uppercase;
  position: fixed; }

.top-nav {
  margin: 0 auto;
  width: 83%;
  height: 52px;
  display: flex;
  justify-content: space-between; }
  .top-nav > ul {
    color: #b7ddd2;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0; }
  .top-nav li {
    padding: 14px 10px; }
  .top-nav li:hover {
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.4s; }
  .top-nav .page-nav {
    width: 60%;
    font-size: 13px; }
  .top-nav .social-nav {
    width: 15%;
    font-size: 17px; }

.btm-nav-conatiner {
  background-color: #fff;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center; }

.btm-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%; }
  .btm-nav span {
    color: #4CAA90; }

.donate-btn {
  border: 2px solid #4CAA90;
  color: #4CAA90;
  width: 100px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo {
  width: 30%; }

.email-us, .call-us {
  width: 21%; }
  .email-us div > i, .call-us div > i {
    font-size: 30px; }
  .email-us > div, .call-us > div {
    width: 20%;
    margin: 0;
    float: left; }
  .email-us h6, .email-us p, .call-us h6, .call-us p {
    display: inline-block;
    width: 80%;
    margin: 0; }

.email-us {
  margin-right: 28px; }

.land-sec {
  background-image: url("../images/school.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

.land-sec-info {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .land-sec-info h3, .land-sec-info button {
    text-transform: uppercase;
    font-size: 0.75em;
    border-radius: 4px; }
  .land-sec-info h3 {
    width: 117px;
    padding: 6px;
    background-color: #fff;
    color: #474848; }
  .land-sec-info button {
    background-color: #4CAA90;
    border: 1px solid #4CAA90;
    width: 110px;
    padding: 10px;
    margin-bottom: 100px; }
  .land-sec-info p {
    width: 60%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em; }
  .land-sec-info span {
    color: #edf1f1;
    width: 30%;
    font-size: 0.5em; }

.land-sec-info > h3, .land-sec-info > p, .land-sec-info > button {
  margin-left: 100px; }

.land-footer {
  width: 100%;
  height: 125px;
  background-color: #474848;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .land-footer .brdr-rght {
    border-right: 0.5px solid #edf1f1;
    padding-right: 42px; }
  .land-footer div {
    max-width: 28%;
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .land-footer div div:first-child {
      font-size: 30px;
      color: #edf1f1;
      height: 100%;
      width: 30px;
      width: 50px;
      display: inline-flex;
      justify-content: center; }
    .land-footer div h4 {
      font-size: 13px;
      color: #fff;
      margin: 25px 0 0 0px; }
    .land-footer div p {
      font-size: 10px;
      color: #edf1f1;
      width: 85%; }

.cause-container {
  width: 100%;
  height: 100%; }

.cause-section {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  font-size: 0.75em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px; }
  .cause-section h2 {
    background-color: #edf1f1;
    border: 1px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: 10%;
    font-size: 13px; }
  .cause-section .featured-info {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.cause-section > p {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #474848; }

.featured-cause {
  width: 80%;
  height: 300px;
  display: flex;
  flex-wrap: no-wrap;
  background-color: #edf1f1; }
  .featured-cause img {
    margin-right: 20px; }
  .featured-cause h4 {
    background-color: #474848;
    color: #fff;
    font-size: 10px;
    width: 113px;
    padding: 4px;
    text-align: center; }

.causes-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between; }

.causes {
  width: 230px;
  height: 200px;
  background-color: #edf1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .causes img {
    max-height: 180px;
    max-width: 230px; }
  .causes p {
    text-align: center;
    color: #474848; }
  .causes h5 {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin: 0; }

.causes-footer {
  color: #000;
  font-weight: bold;
  font-size: 12px;
  margin: 10px; }

.prj-section {
  background: linear-gradient(rgba(87, 83, 82, 0.9), rgba(87, 83, 82, 0.9)), url("../images/nepal.png");
  background-size: cover;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .prj-section h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    width: 40%;
    margin: 15px; }
  .prj-section p {
    color: #edf1f1;
    width: 40%;
    text-align: center;
    margin: 0 0 30px 0; }

.prj-section > button {
  font-size: 15px;
  background-color: #474848;
  border: 1px solid #474848;
  color: #fff;
  padding: 9px;
  border-radius: 3px; }

.prj-section-btns button {
  width: 200px !important;
  font-size: 15px; }

.event-section {
  width: 75%;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 0 0 0; }
  .event-section span {
    color: #4CAA90; }

.event-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.event-container > h2 {
  font-size: 1em;
  text-align: center; }

.event-container > h3 {
  font-size: 0.8em;
  background: #edf1f1;
  width: 143px;
  text-align: center;
  padding: 6px;
  border-radius: 3px;
  margin: 0 auto; }

.event-list-container {
  list-style: none;
  width: 105%;
  display: flex;
  padding: 0; }

.large-event {
  width: 45%;
  height: 400px;
  margin-right: 46px; }
  .large-event li {
    height: 100%; }

.large-event-img {
  background-image: url("../images/colorrun.jpeg");
  background-size: cover;
  min-height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .large-event-img h2 {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 14px; }
  .large-event-img p {
    background-color: #474848;
    max-width: 100%;
    color: #fff;
    margin: 0;
    font-size: 10px;
    height: 30%;
    padding: 10px;
    text-align: center; }

.large-event-info {
  height: 25%;
  font-size: 0.65em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.small-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 45%;
  height: 400px; }
  .small-events li {
    width: 43%;
    height: 180px;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end; }
  .small-events li:first-child {
    background-image: url("../images/SF_12_THUMB.JPG"); }
  .small-events li:nth-child(2) {
    background-image: url("../images/HEALTH_NUTRITION.JPG"); }
  .small-events li:nth-child(3) {
    background-image: url("../images/SF_3.JPG"); }
  .small-events li:nth-child(4) {
    background-image: url("../images/SPON-GIRL-IMAGE.png"); }

.sm-event-info {
  font-size: 0.4em; }
  .sm-event-info h1 {
    max-width: 100%;
    background-color: #ddd7d4;
    color: #fff;
    padding: 6px;
    text-align: center; }
  .sm-event-info p {
    width: 100%; }

.testimonials {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  background-color: #4CAA90;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 0 0 0;
  height: 450px; }
  .testimonials h3 {
    background-color: #474848;
    font-size: 0.8em;
    width: 143px;
    text-align: center;
    padding: 6px;
    border-radius: 3px;
    color: #fff; }
  .testimonials h2 {
    color: #fff;
    text-align: center;
    font-size: 1em; }
  .testimonials ul {
    width: 85%;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .testimonials ul li {
      width: 30%;
      height: 200px; }

.review {
  background-color: #fff;
  font-size: 0.7em;
  text-align: center;
  padding: 6px; }
  .review i {
    color: #4CAA90;
    font-size: 24px; }
  .review p {
    color: #474848;
    padding-left: 10px;
    padding-right: 10px; }

.review:after {
  content: '';
  position: absolute;
  margin-left: -13px;
  width: 0;
  height: 0;
  border-top: solid 15px #fff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent; }

.rvr-details {
  font-size: 0.6em;
  text-align: center;
  padding: 10px; }

.rvr-name {
  color: #fff; }

.rvr-company {
  color: #474848; }

.volunteer {
  width: 75%;
  height: 75vh;
  background: url("../images/volunteer.png");
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.volunteer-info {
  width: 300px;
  height: 230px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 10px; }
  .volunteer-info p {
    text-align: center;
    padding: 0 10px; }
  .volunteer-info h2 {
    background-color: #474848;
    font-size: 0.9em;
    border: 1px;
    border-radius: 5px;
    color: #fff;
    padding: 5px 9px;
    text-align: center; }
  .volunteer-info h1 {
    margin: 0; }
  .volunteer-info button {
    background-color: #4CAA90;
    border: #4CAA90;
    border-radius: 3px;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.9em; }

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 114px;
  background-color: #a5a8a8;
  margin: 0 auto; }

.news-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  margin: 0 auto;
  color: #474848; }
  .news-form div {
    width: 34%;
    margin-right: 20px; }
    .news-form div p {
      margin-top: 0; }
    .news-form div h3 {
      margin-bottom: 4px; }
  .news-form input {
    height: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    border: #fff;
    margin-right: 10px; }
  .news-form button {
    width: 66px;
    height: 35px;
    font-size: 1.1em;
    padding: 10px;
    background-color: #474848;
    color: #fff !important;
    border: #474848;
    border-radius: 2px; }

footer {
  width: 75%;
  min-height: 356px;
  margin: 0 auto;
  background-color: #474848;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em; }
  footer div {
    width: 20%;
    height: 200px; }
  footer h3 {
    color: #fff; }
  footer p {
    color: #ddd7d4; }
  footer button {
    color: #fff;
    border: 1px solid #ddd7d4;
    border-radius: 2px;
    background-color: transparent;
    padding: 10px 30px; }

/*# sourceMappingURL=main.css.map */
