$green: #29af8a;
$lightgreen: #b7ddd2;
$white: #fff;
// $darkgray: #A49F9F;
$darkgray: #435061;
$medgray: #a4b3c5;
$gray: #91a1b4;
$lightgray: #f1f4f8;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	background-color: $lightgray;
}

// REUSABLE
.large-btn {
  width: 110px;
  padding: 10px;
	border: 1px solid $green;
	border-radius: 5px;
	cursor: pointer;
}

.transp-bkgrnd {
	background-color: transparent;
	color: $green;
}

.grn-bkgrnd {
	background-color: $green;
	color: $white;
}

.mobile-logo {
	display: none;
}
// NAV
nav {
	background-color: $green;
	width: 100%; 
	text-transform: uppercase;
	position: fixed;
}

.top-nav {
	margin: 0 auto;
	width: 83%;
	height: 52px;
	display: flex;	
	justify-content: space-between;
	&>ul {
		color: $lightgreen;
		display: flex;
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
	}
	li {
		// border-right: 1px solid $lightgreen;
		padding: 14px 10px;
	}
	li:hover {
		background-color: $white;
		cursor: pointer;
		transition-duration: 0.4s;
	}
	.page-nav {
		width: 60%;
		font-size: 13px;
	}
	.social-nav {
		width: 15%;
		font-size: 17px;
	}
}

.btm-nav-conatiner {
	background-color: $white;
	width: 100%;
	height: 85px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.btm-nav {
	display: flex;
  justify-content: center;
  align-items: center;
	margin: 0 auto;
	width: 90%;
	// position: fixed;
	span {
		color: $green;
	}
}

.donate-btn {
	border: 2px solid $green;
	color: $green;
	width: 100px;
	height: 36px;
	display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
	width: 30%;
}

.email-us, .call-us {
	width: 21%;
	div>i {
		font-size: 30px;
	}
	&>div {
		width: 20%;
		margin: 0;
    float: left;
	}
	h6,p {
		display: inline-block;
    width: 80%;
    margin: 0;
	}
}

.email-us {
	margin-right: 28px;
}

.land-sec {
	background-image: url('../images/school.jpeg');
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.land-sec-info {
	width: 75%;
	height: 100vh;
	margin: 0 auto;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h3, button {
		text-transform: uppercase;
		font-size: 0.75em;
		border-radius: 4px;
	}
	h3 {
		width: 117px;
    padding: 6px;
		background-color: $white;
		color: $darkgray;		
	}
	button {
		background-color: $green;
		border: 1px solid $green;
		width: 110px;
		padding: 10px;
	}
	p {
		width: 60%;
		color: $white;
		text-transform: uppercase;
		font-size: 1em;
	}
	span {
		color: $lightgray;
		width: 30%;
		font-size: 0.5em;
	}
}

.land-sec-info > h3, .land-sec-info > p, .land-sec-info > button {
	 margin-left: 100px;
}

.land-footer {
	width: 75%;
	height: 125px;
	background-color: $darkgray;
	display: inline-flex;
	justify-content: center;
	align-items: center;
		.brdr-rght {
			border-right: 0.5px solid $lightgray;
			padding-right: 42px;
		}
		div {
		max-width: 28%;
    margin-left: 10px;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		div:first-child {
			font-size: 30px;
			color: $lightgray;
			height: 100%;
			width: 30px;
			width: 50px;
	    display: inline-flex;
	    justify-content: center;
		}
		h4 {
			font-size: 13px;
	    color: #fff;
	    margin: 25px 0 0 0px;
		}
		p {
			font-size: 10px;
			color: $lightgray;
			width: 85%;
		}
	}
}

// CAUSES-SECTION
.cause-container {
	width: 100%;
	height: 100%;
}

.cause-section {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	background-color: $white;
	font-size: 0.75em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 60px;
	h2 {
		background-color: $lightgray;
		border: 1px;
		border-radius: 5px;
		color: $white;
		padding: 5px;
		text-align: center;
		width: 10%;
		font-size: 13px;
	}
	.featured-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
	}
}

.cause-section > p {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: $darkgray;
}

.featured-cause {
	width: 80%;
	height: 300px;
	display: flex;
	flex-wrap: no-wrap;
	background-color: $lightgray;
	img {
		margin-right: 20px;
	}
	h4 {
		background-color: $darkgray;
		color: $white;
		font-size: 10px;
		width: 113px;
    padding: 4px;
    text-align: center;
	}
}

.causes-container {
	width: 80%;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
}

.causes {
	width: 230px;
	height: 200px;
	background-color: $lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		max-height: 180px;
		max-width: 230px;
	}
	p {
		text-align: center;
		color: $darkgray;
	}
	h5 {
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		margin: 0;
	}
}

.causes-footer {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	margin: 10px;
}

// PROJECT SECTION

.prj-section {
	background: linear-gradient(rgba(67,80,97, 0.8), 
      rgba(67,80,97, 0.8)), url('../images/nepal.png');
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		color: white;
    font-size: 30px;
    text-align: center;
    width: 40%;
    margin: 15px;
	}
	p {
		color: $lightgray;
		width: 40%;
		text-align: center;
		margin: 0 0 30px 0;
	}
}

.prj-section > button {
	font-size: 15px;
	background-color: $darkgray;
	border: 1px solid $darkgray;
	color: $white;
	padding: 9px;
  border-radius: 3px;
}

.prj-section-btns {
	button {
	width: 200px !important;	
	font-size: 15px;
	}
}

// EVENT SECTION
.event-section {
	width:75%;
	background-color: $white;
	margin: 0 auto;
	padding: 30px 0 0 0;
	span {
		color: $green;
	}
}

.event-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.event-container > h2 {
	font-size: 1em;
  text-align: center;
}

.event-container > h3 {
	font-size: 0.8em;
  background: $lightgray;
  width: 143px;
  text-align: center;
  padding: 6px;
  border-radius: 3px;
  margin: 0 auto;
}

.event-list-container {
	list-style: none;
	width: 105%;
	display: flex;
	padding: 0;
}

.large-event {
	width: 45%;
	height: 400px;
	margin-right: 46px;
	li {
		height: 100%;
	}
}

.large-event-img {
	background-image: url('../images/colorrun.jpeg');
	background-size: cover;
	min-height: 70%;
	width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
  	background-color: $white;
  	padding: 5px;
  	border-radius: 5px;
  	align-self: flex-end;
  	margin-right: 10px; 
  	font-size: 14px;
  }
  p {
  	background-color: $darkgray;
  	max-width: 100%;
  	color: $white;
  	margin: 0;
  	font-size: 10px;
  	height: 30%;
  	padding: 10px;
  	text-align: center;
  }
}

.large-event-info {
	height: 25%;
  font-size: 0.65em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
	// li:nth-last-child(-n+4) 
.small-events {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	width: 45%;
	height: 400px;
	li {
		width: 43%;
		height: 180px;
		background-size: 100% 70%;
		background-repeat: no-repeat;
		display: flex;
		align-items: flex-end;
	}
	li:first-child {
		background-image: url('../images/SF_12_THUMB.JPG');
	}
	li:nth-child(2) {
		background-image: url('../images/HEALTH_NUTRITION.JPG');
	}
	li:nth-child(3) {
		background-image: url('../images/SF_3.JPG');
	}
	li:nth-child(4) {
		background-image: url('../images/SPON-GIRL-IMAGE.png');
	}
}

.sm-event-info {
	font-size: 0.4em;
	h1 {
		max-width: 100%;
    background-color: $lightgray;
    color: #fff;
    padding: 6px;
    text-align: center;
	}
	p {
		width: 100%;
	}
}

// TESTIMONIALS	
.testimonials {
  width: 75%;
  height: 100%;
  margin: 0 auto;
	background-color: $green;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 68px 0 0 0;
	height: 450px;
	h3 {;
    background-color: $darkgray;
    font-size: 0.8em;
	  width: 143px;
	  text-align: center;
	  padding: 6px;
	  border-radius: 3px;
		color: $white;
	}
	h2 {
		color: $white;
		text-align: center;
		font-size: 1em;
	}
	ul {
		width: 85%;
		list-style: none;
		display: flex;
		justify-content: space-between;
		li {
			width: 30%;
			height: 200px;
		}
	}
}

.review {
	background-color: $white;
	font-size: 0.7em;
	text-align: center;
	padding: 6px;
	i {
		color: $green;
		font-size: 24px;
	}
	p {
		color: $darkgray;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.review:after {
  content:'';
  position: absolute;
  margin-left: -13px;
  width: 0;
  height: 0;
  border-top: solid 15px #fff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.rvr-details {
	font-size: 0.6em;
	text-align: center;
	padding: 10px;
}

.rvr-name {
	color: $white;
}

.rvr-company {
	color: $darkgray;
}

// VOLUNTEER SECTION
.volunteer {
	width: 75%;
	height: 75vh;
	background: url('../images/woman-educate.jpg');
	background-size: cover;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.volunteer-info {
	width: 300px;
	height: 230px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
	padding: 10px;
	p {
		text-align: center;
		padding: 0 10px;
	}
	h2 {
		background-color: $darkgray;
		font-size: 0.9em;
		border: 1px;
    border-radius: 5px;
    color: #fff;
    padding: 5px 9px;
    text-align: center;
	}
	h1 {
		margin: 0;
	}
	button {
		background-color: $green;
		border: $green;
		border-radius: 3px;
		color: $white;
		padding: 10px 15px;
		font-size: 0.9em;
	}
}

//NEWSLETTER SIGN_UP
.newsletter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 114px;
	background-color: $medgray;
	margin: 0 auto;
}

.news-form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7em;
	margin: 0 auto;
	color: $darkgray;
	div {
		width: 34%;
    margin-right: 20px;
    p {
    	margin-top: 0;
    }
    h3 {
    	margin-bottom: 4px;
    }
	}
	input {
		height: 15px;
		width: 200px;
		padding: 10px;
		border-radius: 2px;
		border: $white;
		margin-right: 10px; 
	}
	button {
		width: 66px;	
    height: 35px;
    font-size: 1.1em;
		padding: 10px;
		background-color: $darkgray;
		color: $white !important;
		border: $darkgray;
		border-radius: 2px;
		cursor: pointer;
	}
}

footer {
	width: 75%;
	min-height: 356px;
	margin: 0 auto;
	background-color: $darkgray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7em;
	div {
		width: 20%;
		height: 200px;
	}
	h3 {
		color: $white;
	}
	p {
		color: $gray;
	}
	button {
		color: $white;
		border: 1px solid $gray;
		border-radius: 2px;
		background-color: transparent;
		padding: 10px 30px;
		cursor: pointer;
	}
}
// 