@media screen and (min-width: 275px) and (max-width: 414px) {
  body {
    width: 100%; }

  .large-btn {
    padding: 8px; }

  .land-sec,
  .land-sec-info,
  .cause-section,
  .event-section,
  .testimonials,
  .volunteer,
  .newsletter,
  footer {
    width: 100%; }

  nav {
    display: none; }

  .land-sec {
    height: 100%; }

  .land-sec-info > h3, .land-sec-info > p, .land-sec-info > button {
    margin-left: 40px; }

  .featured-cause {
    width: 83%;
    display: block; }

  .land-sec-info h3 {
    width: 124px; }

  .land-sec-info p {
    width: 72%;
    font-size: 0.9em; }

  .land-footer {
    display: flex;
    flex-direction: column;
    height: 313px; }

  .land-footer > div {
    height: 94px;
    max-width: 100%; }

  .land-footer div p {
    font-size: 8px;
    width: 74%; }

  .cause-section {
    padding-top: 17px;
    height: 100%; }

  .cause-section h2 {
    width: 100px; }

  .cause-section > p {
    font-size: 1em; }

  .featured-cause {
    height: 100%; }

  .featured-cause img {
    margin: 0;
    width: 100%; }

  .featured-info p {
    text-align: center;
    width: 94%;
    margin-top: 0; }

  .featured-info button,
  .causes button {
    font-size: 0.7em;
    margin-bottom: 19px; }

  .causes-container {
    align-items: center; }

  .cause-section .featured-info {
    align-items: center; }

  .causes-container {
    flex-direction: column;
    height: 100%; }

  .prj-section,
  .event-section {
    height: 100%; }

  .prj-section h2 {
    font-size: 0.9em;
    width: 80%; }

  .prj-section > button {
    font-size: 0.7em;
    margin-top: 30px; }

  .prj-section p {
    width: 85%;
    margin-bottom: 15px;
    font-size: 0.7em; }

  .prj-section-btns button {
    width: 132px !important;
    margin-bottom: 30px;
    font-size: 0.7em; }

  .event-section {
    display: flex;
    flex-direction: column; }

  .event-container {
    height: 100%;
    display: block; }

  .event-list-container {
    flex-direction: column; }

  .large-event {
    width: 100%;
    border-bottom: 0.5px solid #ddd7d4;
    margin-bottom: 17px; }
    .large-event h2 {
      font-size: 0.7em; }

  .large-event-info h1 {
    font-size: 1.1em;
    margin-bottom: 0; }

  .small-events {
    width: 100%;
    height: 100%; }
    .small-events h1 {
      font-size: 1em; }

  .small-events li {
    width: 48%;
    height: 161px; }

  .testimonials {
    padding-top: 30px;
    height: 100%; }
    .testimonials ul {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      padding-left: 0; }
    .testimonials ul li {
      width: 72%;
      height: 100%;
      margin-bottom: 0px; }

  .review {
    font-size: 0.5em; }

  .volunteer-info {
    width: 261px;
    height: 208px; }

  .newsletter {
    height: 100%; }

  .news-form {
    flex-direction: column; }
    .news-form div {
      width: 71%;
      margin-right: 0px; }
    .news-form form {
      display: flex;
      flex-direction: column; }
    .news-form form input, .news-form button {
      margin-bottom: 10px; }

  footer {
    flex-wrap: wrap;
    font-size: 0.6em; }
    footer div {
      width: 45%;
      height: 169px; }
    footer button {
      padding: 6px 17px; } }

/*# sourceMappingURL=mobile.css.map */
